<include file="Public:base" />

<block name="content">
    <div class="aright_1">
        <blockquote style="padding: 10px;border-left: 5px solid #FF5722;" class="layui-elem-quote">欢迎使用Tpt-Blog博客管理系统，先温馨提醒几个常见问题：</blockquote>
        <table width="100%">
            <tr>
                <td width="480px">程序正式上线运营请把index.php里面调试模式关闭；</td>
                <td>确认服务器或空间开启了伪静态；</td>
            </tr>
            <tr>
                <td>安装完成后请将根目录install文件和index.php里面安装代码删除；</td>
                <td>请将程序内的所有文件直接放在根目录下，不要多层目录；</td>
            </tr>
            <tr>
                <td>尽管本程序在发布前已经经过了若干严格测试，但我们依然强烈建议您随时备份；</td>
                <td>程序安装好后一定记得修改密码和口令；</td>
            </tr>
        </table>
        <blockquote style="padding: 10px;border-left: 5px solid #FF5722;" class="layui-elem-quote">系统信息：</blockquote>
        <table width="100%">
            <tr><td width="110px">程序版本</td><td>Tpt-Blog 1.1 博客管理系统 <a href="http://www.tpt360.com/" style="color:#FF5722;" target="_blank">查看最新版本</a></td></tr>
            <tr><td>服务器类型</td><td>{:php_uname('s')}</td></tr>
            <tr><td>PHP版本</td><td>{:PHP_VERSION}</td></tr>
            <tr><td>Zend版本</td><td>{:Zend_Version()}</td></tr>
            <tr><td>服务器解译引擎</td><td>{:$_SERVER['SERVER_SOFTWARE']}</td></tr>
            <tr><td>服务器语言</td><td>{:$_SERVER['HTTP_ACCEPT_LANGUAGE']}</td></tr>
            <tr><td>服务器Web端口</td><td>{:$_SERVER['SERVER_PORT']}</td></tr>
        </table>
        <blockquote style="padding: 10px;border-left: 5px solid #FF5722;" class="layui-elem-quote">开发团队：</blockquote>
        <table width="100%">
            <tr><td width="110px">版权所有</td><td>TPTCMS开发团队保留所有权利</td></tr>
            <tr><td>感谢贡献者</td><td>Thinkphp，Layer，里程密，白俊遥，童老师</td></tr>
            <tr><td>特别提醒您</td><td>本程序均可免费下载使用，但严禁删除、隐藏或更改版权信息，且导致的一切损失由使用者自行承担。</td></tr>
        </table>
    </div>
</block>