<div class="aleft">
    <h3><i class="layui-icon" style="position: relative;right: 3px;top: 1px;font-size: 18px;color: #009688;">&#xe643;</i>操作菜单</h3>
    <ul class="cl">
        <!-- <li><i class="layui-icon">&#xe601;</i><a href="{:U('navtop/index')}">导航管理</a></li> -->
        <li id="category"><i class="layui-icon">&#xe61f;</i><a href="{:U('ArticleCategory/index')}">文章分类</a></li>
        <li id="article"><i class="layui-icon">&#xe63c;</i><a href="{:U('Article/index')}">文章管理</a></li>
        <li id="postclass"><i class="layui-icon">&#xe61f;</i><a href="{:U('postclass/index')}">海报分类</a></li>
        <li id="post"><i class="layui-icon">&#xe63c;</i><a href="{:U('post/index')}">海报管理</a></li>
        <li id="goodsclass"><i class="layui-icon">&#xe61f;</i><a href="{:U('goodsclass/index')}">商品分类</a></li>
        <li id="goods"><i class="layui-icon">&#xe63c;</i><a href="{:U('goods/index')}">商品管理</a></li>
        <!-- <li><i class="layui-icon">&#xe60c;</i><a href="{:U('banner/index')}">幻灯管理</a></li> -->
        <li id="links"><i class="layui-icon">&#xe64e;</i><a href="{:U('links/index')}">会员管理</a></li>
    </ul>
    <h3><i class="layui-icon" style="position: relative;right: 3px;top: 1px;font-size: 18px;color: #009688;">&#xe614;</i>系统管理</h3>
    <ul class="cl">
        <!-- <li><i class="layui-icon">&#xe62c;</i><a href="{:U('conf/index')}">网站配置</a></li> -->
        <li id="member"><i class="layui-icon">&#xe631;</i><a href="{:U('member/index')}">密码修改</a></li>
        <li id="runtime"><i class="layui-icon">&#xe640;</i><a href="{:U('runtime/index')}">清理缓存</a></li>
        <li id="Login"><i class="layui-icon">&#x1006;</i><a href="{:U('Login/logout')}">立即退出</a></li>
    </ul>
    <!-- <h3><i class="layui-icon" style="position: relative;right: 3px;top: 1px;font-size: 18px;color: #009688;">&#xe612;</i>帮助中心</h3>
    <ul class="cl">
    <li><i class="layui-icon">&#xe63a;</i><a target="_blank" href="http://www.tpt360.com/">官方网站</a></li>
    </ul> -->
</div>
<script type="text/javascript">
    function getQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r!=null) return r[2]; return '';
    }
    if(getQueryString('c') == 'ArticleCategory'){
        $('#category').parent().parent().find('li').removeClass('on');
        $('#category').addClass('on');
    }else if(getQueryString('c') == 'Article'){
        $('#article').parent().parent().find('li').removeClass('on');
        $('#article').addClass('on');
    }else if(getQueryString('c') == 'postclass'){
        $('#postclass').parent().parent().find('li').removeClass('on');
        $('#postclass').addClass('on');
    }else if(getQueryString('c') == 'post'){
        $('#post').parent().parent().find('li').removeClass('on');
        $('#post').addClass('on');
    }else if(getQueryString('c') == 'goodsclass'){
        $('#goodsclass').parent().parent().find('li').removeClass('on');
        $('#goodsclass').addClass('on');
    }else if(getQueryString('c') == 'goods'){
        $('#goods').parent().parent().find('li').removeClass('on');
        $('#goods').addClass('on');
    }else if(getQueryString('c') == 'links'){
        $('#links').parent().parent().find('li').removeClass('on');
        $('#links').addClass('on');
    }else if(getQueryString('c') == 'member'){
        $('#member').parent().parent().find('li').removeClass('on');
        $('#member').addClass('on');
    }else if(getQueryString('c') == 'runtime'){
        $('#runtime').parent().parent().find('li').removeClass('on');
        $('#runtime').addClass('on');
    }else if(getQueryString('c') == 'Login'){
        $('#Login').parent().parent().find('li').removeClass('on');
        $('#Login').addClass('on');
    }
</script>