
<div class="header">
    <h2 class="z cl"><a ><img src="__ADMIN__/img/logo.png" style="height: 40px;"></a></h2>
    <div class="y cl">
        <!-- <a target="_blank" href="__ROOT__/index.php">网站首页</a> -->
        <a href="{:U('Login/logout')}">退出</a>
    </div>
</div>