@charset "utf-8";
body{ font-family: "微软雅黑" !important; background:#F1F1F1}
ul,li{ list-style:none;}
i,em{ font-style:normal}
a{color:#222}
a:visited {color:#222}
a:hover{ text-decoration:none;color:#222}
h1,h2,h3,h4,h5{padding:0; margin:0}


.mg10{margin:10px 0}
.title{ font-size:16px;padding:10px; background:#d9edf7; border-bottom:#CCC solid 1px}
.mg_b10{ margin-bottom:10px}
.pg10{padding:10px}
.pg20{padding:20px}


.grey{color:#CCC}
.grey2{color:#666}
.grey3{color:#a09a8e}
.red{color:#DD2727}
.list-group i{color:#666;padding-left:20px}
.list-group span{float:right;color:#CCC}
.input{border:none; background:none}


.green{color:#5cb85c}
.col-xs-4 i{ font-size:16px;}

.button-05 a{border-radius:50px;color:#FFF; background:#F19E3E; height:45px; line-height:45px;padding:0 20px; text-align:center; font-size:18px; display:block; margin-bottom:10px}
.button-07 a{border-radius:50px;color:#FFF; background:#CBCBCB; height:45px; line-height:45px;padding:0 20px; text-align:center; font-size:18px; display:block; margin-bottom:10px}
.button-06 a{border-radius:50px; text-align:center; background:#ff9000; font-size:14px;padding:3px 12px}



.box_blue{color:#FFF; line-height:1.6em; font-size:14px;border-radius:5px;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px; background:#04b4fd}


.row-pg{padding:0px; text-align:center}
.col-xs-2{ margin-bottom:5px}
.box1{background:#F6FFFE}
.box2{background:#F0F7FF}
.color-yellow{color:#F19E3E}
.time{ text-align:center;color:#999; font-size:12px;}
.time i{color:#F19E3E}

.tabs{font-size:16px;}
.tabs a{ float:left;width:33%; text-align:center;padding-top:20px}
.tabs a.active {
color: #F19E3E;
background:url(../images/k.png) no-repeat center 8px;}
.tabs span{ position:relative}
.tabs i{ position:absolute;left:16px;top:-22px}
.more a{ background:#DEF0F2; text-align:center;color:#AFB8BD;padding:10px; display:block}


.list-pm p{width:60px; height:20px; line-height:20px;overflow:hidden; margin:0}
.list-pm em{color:#999}
.list-pm .head-img{ float:left; display:block; margin-right:8px;}
.col-xs-4,.col-xs-3{ border-top:#dfe6ed solid 1px;text-align:center;padding:10px}
.list-pm h4{color:#F19E3E; font-size:24px;padding-left:5px}


.top2{ position:relative; background:url(../../images/top2.jpg); height:150px; margin-bottom:10px}
.head-kh{ position:absolute;left:42%;top:20px;}
.jilu{ position:absolute;bottom:0px;width:100%; text-align:center;color:#666}
.jilu i,.team i{ display:block; font-size:20px}
.jilu em{ font-size:12px}
.border-right{ border-right:#999 solid 1px}
.border2-right{ border-right:#EEE solid 1px}
.box3{ background:#FFF}
.team{text-align:center; margin-bottom:10px;padding-bottom:10px; border-bottom: solid 1px #EEE}
.yulu{background:url(../../images/yl.jpg)no-repeat;  width:100%;height:150px;background-size:100%100%;padding:55px 35px 20px 35px}
.btn-yellow {border:#F19E3E solid 1px;color:#F19E3E !important}


.hb-more{padding:10px}
.hb-more h3{padding:10px; font-size:18px}
.glyphicon{top: 3px;font-size: 17px;}
.dianzan{line-height:37px;}
