body{
    font-size: 1.2rem;
}
ul, ol, li {
    list-style: none;
}
.padding{
    padding: 16px;
}
.carousel-inner{
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel-indicators{
    bottom: 20px;
}
.index-user{
    padding: 8px 0 8px 8px;
}
.slider-left, .slider-right{
    width: 60%;
    float: left;
    font-size: 1.5rem;
}
.slider-right{
    width: 40%;
    text-align: end;
}
.slider-left span{
    color: #f90;
    padding-right: 8px;
    line-height: 28px;
}
.user-btn{
    padding: 0 20px;
    line-height: 28px;
    margin: 0;
    border-radius: 14px;
}
.fumargin{
    margin-left: -8px;
    margin-right: -8px;
}
.user-pic{
    width: 48px;
    float: left;
    margin-right: 16px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* left:  calc(50% - 32px); */
}
.user-right{
    float: left;
    margin-top: 8px;
    width: calc(100% - 64px);
}
.user-pic img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.news-class-box{
    padding: 16px 16px 0 16px;
}
ul.news-class-list{
    padding: 0;
    margin: 16px 0 0 0;
}
ul.news-class-list li{
    float: left;
    width: 25%;
    margin-bottom: 24px;
}
ul.news-class-list li a{
    border-radius: 16px;
    padding: 6px 8px;
    font-size: 1.3rem;
    border: 1px solid #e8e8e8;
}
ul.news-class-list li.active a{
    border: 1.5px solid #f90; background-color: rgba(255, 155, 25, 0.226);
}
.line{
    height: 1px;
    border-bottom: 1px solid #e8e8e8;
}
.search{
    padding: 16px 16px 0 16px;
}
.search .glyphicon{
    color: #999;
}
.form-control, .input-group-addon{
    font-size: 1.2rem;
    height: 30px;
    border-color: #e8e8e8;
}
.news-list a{
    color: #222;
}
.blue{
    color: #39f;
}
.new-dt, .new-bd{
    padding-bottom: 16px;
    border-bottom: 1px solid #e8e8e8;
    margin: 0 16px 16px 16px;
}
.new-dt img{
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}
.new-bd img{
    float: left;
    padding-right: 8px;
    width: 100px;
    height: 60px;
}
.new-dt span, .new-bd span{
    color: #999;
    padding-right: 8px;
}
.page-change{
    text-align: center;
    margin-bottom: 16px;
}
.copy-right{
    text-align: center;
    margin: 32px 16px 64px 16px;
}
.footer{
    /* background-color: lightseagreen; */
}
.box-flex {
    display: -moz-box;
    display: -webkit-box;
    display: box;
}
.footnav {
    width: 100%;
    padding: 8px 0;
    margin: 0;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    /* background-color: lightseagreen; */
}
.footnav li {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}
.footnav li a {
    display: inline-block;
    width: 100%;
    padding: 0.3rem 0;
   color: #898989;
}
.footnav li a span {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
}
.footnav li a span.glyphicon{
    margin-bottom: 2px;
}
.footnav li.on a span {
    color: #222;
}
.navbar-default{
    background-color: lightseagreen;
}
.navbar-default .navbar-brand{
    color: #fff;
}
.height50{
    height: 50px;
    display: block;
    width: 100%;
}
.successDetail {
    width: 100%;
    padding: 15px 0 0 0;
    background: #fff;
}
.successDetail p {
    font-size: 1.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #333;
}
.successDetail_time {
    width: 100%;
    padding-bottom: 12px;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-size: 1.4rem;
    line-height: 28px;
}
.successDetail_time span{
    padding-right: 8px;
}
.successDetail_nr {
    width: 100%;
    padding: 15px;
    background: #fff;
    color: #333;
    font-size: 13px;
    line-height: 24px;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.successDetail_nr img {
    padding: 10px 0;
}
.successDetail_bottom {
    width: 100%;
    padding: 15px;
    background: #fff;
    color: #333;
    font-size: 13px;
    border-top: 1px solid #eee;
    margin-bottom: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.successDetail_bottom span {
    width: 60px;
    background: #eee;
    padding: 5px 15px;
    border-radius: 20px;
    margin-right: 10px;
}
.successDetail_bottom a {
    float: left;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.usa_eba {
    width: 100%;
    background: #fff;
    height: 43px;
    padding-top: 15px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.successDetail_tj {
    width: 100%;
    background: #fff;
    margin-bottom: 0.5em;
}
.successDetail_tj a {
    color: #c00;
}
.successDetail_tj li {
    padding: 15px;
    font-size: 13px;
    border-bottom: 1px solid #eee;
    list-style: inside;
}
.successDetail_tj span {
    color: #333;
    margin-left: -5px;
}
/* .zixun{
    position: absolute;
    bottom: 30%;
    right: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 48px;
    width: 48px;
    line-height: 42px;
    border: 1px solid lightseagreen;
    text-align: center;
    vertical-align: middle;    
}
.zixun span{
    font-weight: bold;
    color: white;
    font-size: 1.6rem;
} */
.my-info{
    border-bottom: 1px solid #e8e8e8;
}
.my-info-left{
    float: left;
    width: 50%;
    padding: 8px 0;
    font-size: 1.6rem;
}
.user-pic1{
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 8px;
    float: left;
}
.user-pic1 img{
    height: 48px;
    width: 48px;
    border-radius: 50%;
}
.my-info-left span{
    display: inline-block;
    padding-top: 4px;
}
.my-home-btn{
    background: lightseagreen;
    border-radius: 14px;
    color: white;
    border: none;
    font-size: 1.2rem;
    margin-top: 8px;
}
.nav-title{
    float: left;
    line-height: 50px;
    color: white;
    font-size: 1.6rem;
}
.tips{
    background-color: rgba(52, 171, 175, 0.5);
    border: 0.5px solid lightseagreen;
    padding: 8px 16px;
    margin: 16px 16px 0 16px;
    border-radius: 6px;
}
.product-list{
    padding: 8px;
}
.product{
    float: left;
    width: 48%;
    margin: 1%;
    border: 0.5px solid #e8e8e8;
}
.product h5, .product span{
    padding-left: 8px;
}
.product h5{
    height: 31px;
    overflow: hidden;
}
.pro-name{
    color: red;
    font-size: 1.6rem;
}
.pro-more{
    float: right;
    margin-right: 8px;
}
.btn-default{
    border-width: 0.8px;
}
.pro-line{
    margin-top: 16px;
}
.pro-line p span{
    color: #999;
}
.detail-content{
    padding: 8px;
}
.other-product{
    margin-bottom: 8px;
}
.other-product img{
    width: 80px;
    display: table-cell;
}
.other-product p{
    display: table-cell;
}
.other-pro{
    margin: 16px 8px;
}
.other-pro-list{
    margin: 8px 8px 0 8px;;
}
.other-pro-list .media{
    margin-bottom: 8px;
}
.other-pro-list .media-object{
    width: 64px;
}
.other-pro-list .media-body, .other-pro-list .media-left, .other-pro-list .media-right {
    display: table-cell;
    vertical-align: middle;
}
.pic-class-box{
    border-bottom: 1px solid #e8e8e8;
    padding: 0 8px;
}
ul.pic-class-list{
    padding: 0;
    margin: 0;
}
.pic-class-box li{
    float: left;
    padding: 8px;
    font-size: 1.6rem;
    font-weight: bold;
}
.pic-class-box li.active a{
    color: #f90;
}
.radio{
    text-align: center;
}
.user-top{
    width: 100%;
    padding: 8px;
}
.user-top img{
    width: 100px;
    float: left;
    margin-right: 8px;
}
.my-name{
    font-size: 1.4rem;
    font-weight: bold;
}
.curreny{
    margin: 0 0 0 8px;
    border: 0.5px solid #e8e8e8;
    padding: 16px;
}
.curreny span{
    font-size: 1.6rem;
    font-weight: bold;
    color: #f90;
}
.curreny .news-class-list{
    float: right;
    width: 55%;
    margin: 2px 0 0 0;
}
.curreny .news-class-list li{
    width: 50%;
    text-align: right;
}
.my-link ul{
    padding: 0;
    margin: 8px;
    border: 0.5px solid #e8e8e8;
}
.my-link ul li{
    width: 100%;
    display: block;
    border-bottom: 0.5px solid #e8e8e8;
}
.my-link ul li.border0{
    border: none;
}
.my-link ul li a{
    color: #666;
    display: block;
    padding: 8px 0 8px 8px;
}
.glyphicon-menu-right{
    color: #999;
}
.my-link ul li a span{
    margin-right: 8px;
}
.user-contact, .update-box{
    margin: 8px;
}
.update-user-pic, .erweima{
    float: left;
    width: 36%;
    text-align: center;
    margin: 8px 7%;
}
.update-user-pic img, .erweima img{
    border-radius: 6px 6px 0 0;
}
.update-user-pic p, .erweima p{
    background-color: rgba(255, 155, 25, 0.801);
    color: white;
    padding: 4px;
    margin: 0;
}
.my-form{
    margin: 8px 16px;
}
.my-form ul{
   margin: 0 0 24px 0;
   padding: 0;
   border: 0.5px solid #e8e8e8;
   border-radius: 4px;
}
.my-form ul li{
    padding: 8px;
    border-bottom: 0.5px solid #e8e8e8;
}
.my-form ul li span{
    width: 35px;
    display: inline-block;
}
.my-form input{
    border: none;
    width: calc(100% - 85px);
}
.my-form select{
    border-radius: 4px;
    border-color: #e8e8e8;
    padding: 4px 12px;
}
.my-form ul li.border0{
    border: none;
}
.sub-btn{
    background: lightseagreen;
    padding: 4px 32px;
    color: white;
}
table{
    border: 0.5px solid #e8e8e8;
}
td{
    text-align: center;
}
#noticeModal{
    /* margin-top: calc(50% - 85px); */
    margin-top: 50%;
}
.order-right{
    border-right: 0.5px solid #e8e8e8;
}
.price{
    color: red;
}
.text-left td{
    text-align: left;
}
.w80{
    width: 80%;
}
.footer-detail .footnav{
    background: #eee
}
.footer-detail .footnav li a{
    color: #666;
}
.footer-detail .footnav li a.btn{
    border-radius: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 2px;
    color: white;
}
.cart p{
    margin: 0 0 5px;
}
.cart-content{
    padding: 8px;
}
.cart-content .my-form{
    margin: 8px 0;
}
.cart-content .my-form ul li span{
    width: 60px;
    text-align: end;
    margin-right: 8px;
    vertical-align: top;
}
.cart-content textarea{
    width:  calc(100% - 85px);
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
}
.successDetail_time .user-btn, .fumargin .user-btn{
    padding: 0 10px;
}
.fumargin .slider-left{
    margin-top: -8px;
}
.fumargin .slider-left p{
    margin-bottom: -6px;
}
.slider-left p{
    font-size: 1.2rem;
}
.slider-left p span.tel, .slider-left p span.addweixin{
    margin-left: 8px;
    background: #3399ff;
    color: white;   
    padding: 1px 4px;
    border-radius: 8px; 
}
.fumargin .slider-right{
    margin-top: 4px;
}
.mingpian{
    border-radius: 6px;
    margin: 34px 0 10px 0;
    background-image: linear-gradient(180deg, #1ac6ff, #0086b3);
}
.mingpian .user-pic{
    margin-top: -24px;
    margin-left: 16px;
}

.news-user{
    margin: 4px 0 12px 0;
}
.user-name, .user-tel, .user-addr, .news-ewm{
    color: white;
    margin-bottom: 8px;
}
.user-tel{
    background: #0086b3;
    border-radius: 14px;
    padding: 4px 16px;
}
.user-addr{
    margin-top: 64px;
    margin-bottom: 16px;
}
.news-ewm img{
    width: 100px;
    height: 100px;
}
.news-ewm{
    padding-left: 32px;
}
.add-me{
    color: #0086b3;
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 8px;
}
.wanshan{
    padding: 8px 32px 16px 32px;
}
.full-width{
    width: 100%;
}
.my-form textarea {
    /* border: none; */
    width: calc(100% - 85px);
}