<extend name="Public:base" />

<block name="content">

    <fieldset class="layui-elem-field layui-field-title" style="margin: 20px 30px 20px 20px;">
        <legend>修改栏目</legend>
    </fieldset>

    <form class="layui-form bform" method="post" action="{:U('ArticleCategory/doedit')}" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$c.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">栏目名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" value="{$c.catname}" required lay-verify="required" placeholder="必填内容" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" style="width: 300px;">
            <label class="layui-form-label">所属栏目</label>
            <div class="layui-input-block">
                <select name="pid">
                    <option value="0">顶级栏目</option>
                    <volist name="cs" id="vo">
                        <option <if condition="$c[id] eq $vo[id]">disabled</if>
                        <if condition="$c[pid] eq $vo[id]">selected="selected"</if>value="{$vo.id}"><?php echo str_repeat('-',$vo[level]*8);?>{$vo.catname}</option>
                    </volist>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">修改</button>
                <button class="layui-btn layui-btn-primary" onclick="history.go(-1)">返回</button>
            </div>
        </div>

    </form>
    <script>
        layui.use('form', function(){
            var form = layui.form();
        });
    </script>
</block>