<extend name="Public:base" />

<block name="content">
    <div class="arz cl"><a href="{:U('ArticleCategory/add')}"><i class="layui-icon">&#xe608;</i>添加分类</a></div>
    <form method="post" class="aform cl">
        <table width="100%">
            <tr>
                <th width="10%" align="center">id</th>
                <th width="20%" align="center">分类名称</th>
                <th width="20%" align="center">操作</th>
            </tr>
            <notempty name="c">
                <foreach name="c" item="vo" key="k">
                    <tr>
                        <td align="center">{$vo.id}</td>
                        <td style="padding-left: 20px;"><a target="_blank" href="__ROOT__/index.php?m=Home&c=index&a=category&id={$vo.id}">{$vo.catname}</a></td>
                        <td align="center">
                            <a href="{:U('ArticleCategory/edit', ['id'=>$vo['id']])}">修改</a> | <a href="{:U('ArticleCategory/delete', ['id'=>$vo['id']])}" onclick="return confirm('您确定删除吗？');">删除</a>
                        </td>
                    </tr>
                    <foreach name="cs" item="vs" key="k">
                        <if condition = "$vo.id eq $vs['pid']">
                            <tr>
                                <td align="center">{$vs.id}</td>
                                <td style="padding-left: 20px;"> {:str_repeat('-', 2)} <a target="_blank" href="__ROOT__/index.php?m=Home&c=index&a=category&id={$vs.id}">{$vs.catname}</a></td>
                                <td align="center">
                                    <a href="{:U('ArticleCategory/edit', ['id'=>$vo['id']])}">修改</a> | <a href="{:U('ArticleCategory/delete', ['id'=>$vo['id']])}" onclick="return confirm('您确定删除吗？');">删除</a>
                                </td>
                            </tr>
                        </if>
                    </foreach>
                </foreach>
                <else />
                <tr><td colspan="5" style="text-align: center;">暂无相关数据</td></tr>
            </notempty>

        </table>
    </form>
</block>



