<extend name="Public:base" />

<block name="content">
    <!-- <div class="arz cl"><a href="{:U('links/add')}"><i class="layui-icon">&#xe608;</i>添加连接</a></div> -->

    <form method="post" class="aform cl">
        <table width="100%">
            <tr>
                <th width="10%" align="center">id</th>
                <th width="10%" align="center">头像</th>
                <th width="20%" align="center">姓名</th>
                <th width="20%" align="center">电话</th>
                <th width="10%" align="center">微信二维码图</th>
                <th width="10%" align="center">职位</th>
                <th width="20%" align="center">人生格言</th>
            </tr>
            <volist name="list" id="vo">
                <tr>
                    <td align="center">1000</td>
                    <td align="center">
                        <if condition="$vo[pic] neq ''">
                            <img src="__ROOT__/Uploads{$vo.pic}" height="30">
                            <else />
                            暂无头像
                        </if>
                    </td>
                    <td align="center">
                        我是小智
                    </td>
                    <td align="center">135355456</td>
                    <td align="center">12121</td>
                    <td align="center">
                    </td>
                    <td align="center">
                    </td>
                </tr>
            </volist>
        </table>
    </form>
    <div class="pages">
        {$page}
    </div>
</block>