<extend name="Public:base" />

<block name="body">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{:U('Home/index/index')}">
                <span class="glyphicon glyphicon-menu-left"></span>返回
            </a>
        </div>
    </nav>
    <div class="height50"></div>
    <div class="container">
        <div class="successDetail">
            <p>{$tptl.title}</p>
        </div>
        <div class="successDetail_time">
            <span>{$tptl.time|date='Y-m-d H:i:s',###}</span>
            点击量<span class="blue">{$tptl.view}</span>
            <a href="#" class="btn btn-success user-btn pull-right">换成我的</a>
            <div class="clearfix"></div>
        </div>
        <!--        <div class="index-user fumargin news-user">
                    <div class="user-pic">
                        <img src="__HOME__/images/user-pic.jpg">
                    </div>
                    <div class="user-right">
                        <div class="slider-left">
                            <p>
                                <span class="glyphicon glyphicon-earphone"></span>18319556889
                                <span class="tel">打电话</span>
                            </p>
                            <p>
                                <span class="glyphicon glyphicon-comment"></span>18319556889
                                <span class="addweixin">加微信</span>
                            </p>
                        </div>
                        <div class="slider-right">
                            <a href="user.html" class="btn btn-warning user-btn">在线咨询</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="new-banner">
                    <img src="__HOME__/images/new-banner.gif">
                </div>-->

        <div class="successDetail_nr">
            {$content}
        </div>

        <!--        <div class="new-banner">
                    <img src="__HOME__/images/new-banner2.gif">
                </div>

                <div class="mingpian">
                    <div class="col-xs-6">
                        <div class="user-pic text-center">
                            <img src="__HOME__/images/user-pic.jpg">
                            <div class="user-name">老郭</div>
                        </div>
                        <div class="clearfix"></div>

                        <span class="user-tel text-center">
                            <span class="glyphicon glyphicon-earphone"></span>
                            <span>18319556889</span>
                        </span>

                        <div class="user-addr">
                            <p>职称：</p>
                            <p>地区：</p>
                        </div>
                    </div>

                    <div class="col-xs-6 news-ewm">
                        <p class="add-me">加我微信</p>
                        <p>免费咨询</p>
                        <img src="__HOME__/images/erweima.gif">
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="wanshan text-center">
                    <a href="myinfo.html" class="btn btn-danger full-width">完善我的名片>></a>
                </div>

                <div class="successDetail_bottom">
                    <a href="HH_details.html">
                        <span>下一篇</span>
                    </a>EB-1A美国杰出人才移民最快获批记录美国杰出人才移民最快获批记录-2天！</div>


                <div class="usa_eba">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <span>相关推荐</span>
                </div>
                <div class="successDetail_tj">
                    <a href="#">
                        <li>
                            <span>EB-1A美国杰出人才移民最快获批记录-2天！</span>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <span>美国移民局政策缩紧，面谈范围再扩大！</span>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <span>美国王欣律师行专治移民局各种“不服”</span>
                        </li>
                    </a>
                </div>


            </div>-->


        <!--    <div class="copy-right">
                <p>Copyright©2018 版权所有 </p>
            </div>-->
    </div>
</block>