<extend name="Public:base" />

<block name="body">
    <div class="index-user">
        <div class="user-pic">
            <img src="__PUBLIC__/images/user-pic.jpg">
        </div>
        <div class="user-right">
            <div class="slider-left">
                <span>神九</span>18319556889
            </div>
            <div class="slider-right">
                <a href="{:U('Home/User/index', ['cur' => 4])}" class="btn btn-success user-btn">进入</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
        </ol>
        <div class="carousel-inner" role="listbox" id='add'>
            <volist name="tptg" id="vo">
                <div class="item  {if $vo['first'] eq 1 }active{/if}">
                    <a href="{:U('Home/index/article',array('id'=>$vo['id']))}"><img  style="height:194px; width:414px;" src="__PUBLIC__/Uploads{$vo.pic}"></a>
                </div>
            </volist>

            <!--            <div class="item">
                            <img src="__PUBLIC__/images/2.gif">
                        </div>-->
        </div>

    </div>

    <div class="news-class-box">
        <ul class="news-class-list">
            <volist name="category" id="vo">
                <li class="active">
                    <a href="newsList.html">{$vo['name']}</a>
                </li>
            </volist>
            <div class="clearfix"></div>
        </ul>
    </div>

    <div class="line"></div>

    <div class="search">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                <div class="input-group">
                    <form action="__ROOT__/index.php/search.html" method="get">
                        <input type="text" class="form-control" id="exampleInputAmount" value="<?php echo I('kw');?>" placeholder="输入关键字，找文章">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span><button type="submit">搜索</button></div>
                    </form>
                </div>

            </div>
        </form>
    </div>

    <div class="news-list">
        <volist name="tptg" id="vo1">
            <div class="new-dt">
                <a href="{:U('Home/index/article',array('id'=>$vo1['id']))}">
                    <h4>{$vo1['title']}</h4>
                </a>
                <a href="{:U('Home/index/article',array('id'=>$vo1['id']))}">
                    <img src="__PUBLIC__/Uploads{$vo1['pic']}">
                </a>
                <span>{$vo1.time|date='Y-m-d H:i:s',###}</span>
                <!--            <span>浏览935</span>-->
            </div>
        </volist>
    </div>

    <div class="search">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="输入关键字，找文章">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>搜索</div>
                </div>
            </div>
        </form>
    </div>

    <!-- <div class="page-change">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>上一页</button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-right"></span>下一页</button>
        </div>
    </div> -->

    <!--  <div class="copy-right">
         <p>Copyright©2018 版权所有 </p>
     </div> -->

</block>
